# Ignorar archivos de configuración de Godot
.godot/
.godot/*.godot

# Ignorar archivos de build
build/
*.log

# Ignorar archivos temporales de sistema
*.tmp
*.swp

# Ignorar archivos de IDE
.vscode/
.idea/

# Ignorar archivos generados por el sistema operativo
.DS_Store
Thumbs.db
